* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fafafa;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2rem;
  max-width: 800px;
  background-color: #333;
  border-radius: 10px;
}

main > h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

main > #search-form form {
  display: flex;
  gap: 0 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

main > #search-form input {
  flex: 1;
  height: 2rem;
  border-radius: 5px;
  border: none;
  padding: 0 0.5rem;
  font-size: 1rem;
}

main > #search-form button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 0 1rem;
  border-radius: 5px;
  height: 2rem;
}

main #tempo-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main #tempo-info .tempo-info-group h2 {
  font-size: 18px;
  margin-bottom: 0.2rem;
  font-weight: normal;
}

main #tempo-info .tempo-info-group span {
  font-size: 3rem;
  font-weight: bold;
}

main #tempo-info .tempo-info-group p {
  text-transform: capitalize;
}
